{% extends "layout.html" %}

{% block content %}

    <script>
        /*
            INIT
        */
        var description_data = {{ data|tojson }};

        // to pretty print description_data as string to copy and paste for saving
        function print_description_data(){
            console.log(JSON.stringify(description_data, null, 3));
        }
        
        $(function() {
            load_description_data()

        });

        function load_description_data(){
            //load description 
            let prompt1 = description_data["prompt1"] || "";
            let prompt2 = description_data["prompt2"] || "";
            let prompt3 = description_data["prompt3"] || "";
            let prompt4 = description_data["prompt4"] || "";

            if(prompt1 || prompt2 || prompt3 || prompt4){
                show_description(description_data)
            }else{
                show_description_editing(description_data)
            }

            // load names
            let names = description_data["names"] || "";
            if(names.length > 0){
                show_names(description_data)
            }

             //load images
            /*generations_list = description_data["generations"]
            if(generations_list.length > 0){
                show_generations(generations_list, true)
            }*/         
        }

        /*
            SUBMIT PROMPTS
        */

        $(function() {
            $("#submit_prompts_btn").click(function(){
                let prompt1 = $("#prompt1_input").val()
                let prompt2 = $("#prompt2_input").val()
                let prompt3 = $("#prompt3_input").val()
                let prompt4 = $("#prompt4_input").val()
                submit_prompts(prompt1, prompt2, prompt3, prompt4)
            })
        });

        function submit_prompts(prompt1, prompt2, prompt3, prompt4){
            let data = {
                "prompt1":prompt1, 
                "prompt2":prompt2, 
                "prompt3":prompt3,
                "prompt4":prompt4
            }

            $.ajax({
                type: "POST",
                url: "/submit_prompts",                
                dataType : "json",
                contentType: "application/json; charset=utf-8",
                data : JSON.stringify(data),
                beforeSend: function () { 
                    $("#spinner-div").show()
                }, 
                success: function(data, text){
                    console.log("submit_prompts response")
                    console.log(data)                
                    description_data = data
                    show_description(data)
                },
                error: function(request, status, error){
                    console.log("Error");
                    console.log(request)
                    console.log(status)
                    console.log(error)
                },
                complete: function () { 
                    $("#spinner-div").hide()
                },
            }); 
        }

        $(function() {
            $("#edit_prompts_btn").click(function(){
                    edit_description(description_data)
                })
        })

        function edit_description(){
            show_description_editing(description_data)
        }

        function show_description_editing(data){
            $("#edit_prompts_div").show()
            $("#show_prompts_div").hide()

            $("#prompt1_input").val(data["prompt1"])
            $("#prompt2_input").val(data["prompt2"])
            $("#prompt3_input").val(data["prompt3"])
            $("#prompt4_input").val(data["prompt4"])
        }

        function show_description(data){
            $("#edit_prompts_div").hide()
            $("#show_prompts_div").show()

            $("#show_prompt1").text(data["prompt1"])
            $("#show_prompt2").text(data["prompt2"])
            $("#show_prompt3").text(data["prompt3"])
            $("#show_prompt4").text(data["prompt4"])
        }  
        /*
            KEYWORDS
        
        */
        $(function() {
            $("#get_names").click(function(){                
                get_names_gpt()
            })
        });


        function show_names(data) {
            let names = data["names"]
            $("#display_names").empty()

            $.each(names, function(i, name) {
                let nameButton = $("<button class='name-button'>").text(name);
                nameButton.click(function() {
                    select_name_for_image(name);
                })
                $("#display_names").append(nameButton);
            })
        }
        
        function select_name_for_image(name) {
            console.log("Selected name: " + name);
            generate_image(name);
        }

        function get_names_gpt(){
            // console.log(description)
            // console.log(summary)
            let data = {}//{"description":description,"summary":summary}
            $.ajax({
                type: "POST",
                url: "/get_names",                
                dataType : "json",
                contentType: "application/json; charset=utf-8",
                data : JSON.stringify(data),
                beforeSend: function () { 
                    $("#spinner-div").show()
                },
                success: function(data, text){
                    console.log("submit_prompts response")
                    console.log(data)
                    description_data = data
                    show_names(description_data)

                },
                error: function(request, status, error){
                    console.log("Error");
                    console.log(request)
                    console.log(status)
                    console.log(error)
                },
                complete: function () { 
                    $("#spinner-div").hide()
                },
            }); 
        }

        /*
            IMAGE GENERATIONS
        */

        $(function() {
            $("#get_images_description_btn").click(function(){
                console.log("get_images_description_btn")
                let prompt = description_data["description"]
                get_images(prompt)
            })

            
        });

        function get_images(name){
            let data = {"name":name}
            $.ajax({
                type: "POST",
                url: "/get_images",                
                dataType : "json",
                contentType: "application/json; charset=utf-8",
                data : JSON.stringify(data),
                beforeSend: function () { 
                    $("#spinner-div").show()
                },
                success: function(data, text){
                    console.log("get_images response")
                    console.log(data)  
                    let prompt = data["prompt"]
                    let url = data["url"]

                    let new_generations_list = data || []
                        // for i in new_images:
                    $.each(new_generations_list, function(i, gen) {
                        description_data["generations"].push(gen) 
                    })
        

                    // description_data["generations"].push(data)
                    show_generations(description_data["generations"])

                },
                error: function(request, status, error){
                    console.log("Error");
                    console.log(request)
                    console.log(status)
                    console.log(error)
                },
                complete: function () { 
                    $("#spinner-div").hide()
                },
            })
        }


        function show_generations(generations_list){             
            $("#gallery").empty()

            $.each(generations_list, function(i,item){
                // console.log(item)
                let id = item["id"]
                let is_deleted = item["is_deleted"]
                
                if(is_deleted!="true"){
                    let name = item["prompt"]
                    let url = item["url"]

                    let new_gen_div = $("<div id='"+id+"'><div>"+name+"</div><br><img src='"+url+"''></img></div>")

                
                    $("#gallery").append(new_gen_div)
                }
            })
        }
        
    </script>  

    <div class="row">
        <div id="explore_text" class="col-md-4" >
            <!-- Edit Prompts Section -->
            <div id="edit_prompts_div">                
                    <label>Prompt 1:</label><br>
                    <textarea id="prompt1_input" rows="2" cols="40"></textarea>
                    <br>
                    <label>Prompt 2:</label><br>
                    <textarea id="prompt2_input" rows="4" cols="40"></textarea>
                    <br>
                    <label>Prompt 3:</label><br>
                    <textarea id="prompt3_input" rows="4" cols="40"></textarea>
                    <br>
                    <label>Prompt 4:</label><br>
                    <textarea id="prompt4_input" rows="4" cols="40"></textarea>
                    <br>
                    <button id="submit_prompts_btn" type="button">Submit</button>                
            </div>
            <!-- Show Prompts Section -->
            <div id="show_prompts_div">
                    <h3>Submitted Prompts:</h3>
                    <p><strong>Prompt 1: Please describe the core value and unique features of your product or service.</strong> <span id="show_prompt1"></span></p>
                    <p><strong>Prompt 2: Who is your target audience?</strong> <span id="show_prompt2"></span></p>
                    <p><strong>Prompt 3: What kind of emotion or impression would you like the product name to convey?</strong> <span id="show_prompt3"></span></p>
                    <p><strong>Prompt 4: Are there any brand name styles you particularly like?</strong> <span id="show_prompt4"></span></p>
                    <button id="edit_prompts_btn" type="button">Edit</button>
            </div>
        </div>

        <div id="names_to_select" class="col-md-4">
            <p><strong>Names </strong> <button type="button" id="get_names">Get Names</button></p>
            <div id="display_names">
     
            </div>
        </div>    


        <div id="see_generations" class="col-md-4">
            See Images <button id="get_images_description_btn" type="button">Get images for description</button>
            <div class="row" id="gallery">
                <!-- <img src="static/generated_images/Santo-1673729232/Santo-1673729232-0.png"> -->
            </div>
        </div>
    </div>


{% endblock %}

